.footer__link {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0;
    margin-right: 18px;
    text-decoration: none;
}

.footer__link:last-child {
    margin: 0;
}

.footer__link:hover {
    cursor: pointer;
    transition: opacity .5s ease-in-out;
    opacity: 0.8;
}

@media screen and (max-width: 620px) {
    .footer__link {
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 24px;
        margin-right: 0;
    }
}