.cover {
    max-width: 1184px;
    min-height: 740px;
    position: relative;
    margin-bottom: 92px;
    background-image: url(../../images/__background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    background-position: 50% 50%;
    z-index: 1;
}

@media screen and (max-width:1024px) {
    .cover {
        min-height: 640px;
    }
}

@media screen and (max-width:768px) {
    .cover {
        min-height: 480px;
        margin-bottom: 88px;
    }
}

@media screen and (max-width:580px) {
    .cover {
        min-height: 200px;
        margin-bottom: 64px;
    }
}